<div class="about">
		<div class="container">
			<div class="col-md-4 agileits_about_left">
				<h3 class="w3l_head">About Us</h3>
				<p class="w3ls_head_para w3ls_head_para1">quam ultrices</p>
			</div>
			<div class="col-md-8 agileits_about_right">
				<p>Duis turpis arcu, dictum eu tincidunt id, congue vel urna. Quisque posuere, 
					ipsum eu faucibus cursus, ex tortor elementum leo, eget varius lorem quam a nisl. 
					Mauris ut enim sed tortor auctor luctus at vitae est. Nunc erat odio, blandit 
					eget nisl ac, laoreet condimentum elit. <i>Duis dignissim auctor rhoncus. 
					Curabitur diam lorem, ultricies eu pellentesque sed, elementum sodales urna. 
					Pellentesque molestie maximus nisl at ultrices.</i></p>
				<ul>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Quisque posuere</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Nunc erat odio</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Duis dignissim</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Curabitur diam</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="about-mid">
		<div class="container">
			<h4>Duis turpis arcu, dictum eu tincidunt id, congue vel urna. Quisque posuere, 
					ipsum eu faucibus cursus, ex tortor elementum leo, eget varius lorem quam a nisl. 
					Mauris ut enim sed tortor auctor luctus at vitae est.</h4>
		</div>
	</div>
	<div class="team">
	<div class="container">
	<h3 class="w3l_head w3l_head1">Team</h3>
	<p class="w3ls_head_para w3ls_head_para1">quam ultrices</p>
	<div class="team-gd">
		
		<div class="col-md-3 team-gds">
			<div class="gal-grid-rev vertical">
				<div class="img-box-content"><img src="images/t1.jpg" alt=" "></div>
					<div class="gal-text-box">
						<div class="info-gal-con">
							<div class="social-content">
								<ul>
									<li class="facebook"><a class=" hvr-underline-from-center" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a class="ico2 hvr-underline-from-center" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a class="ico3 hvr-underline-from-center" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								</ul>			
							</div>
						</div>
					</div>
			</div>
			<h4>Richard</h4>
			<p>Turpis</p>
		</div>
		<div class="col-md-3 team-gds">
			<div class="gal-grid-rev vertical">
				<div class="img-box-content"><img src="images/t2.jpg" alt=" "></div>
					<div class="gal-text-box">
						<div class="info-gal-con">
							<div class="social-content">
								<ul>
									<li class="facebook"><a class="ico1 hvr-underline-from-center" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a class="ico2 hvr-underline-from-center" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a class="ico3 hvr-underline-from-center" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								</ul>			
							</div>
						</div>
					</div>
			</div>
			<h4>Nevill</h4>
			<p>Faucibus </p>
		</div>
		<div class="col-md-3 team-gds">
			<div class="gal-grid-rev vertical">
				<div class="img-box-content"><img src="images/t3.jpg" alt=" "></div>
					<div class="gal-text-box">
						<div class="info-gal-con">
							<div class="social-content">
								<ul>
									<li class="facebook"><a class="ico1 hvr-underline-from-center" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a class="ico2 hvr-underline-from-center" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a class="ico3 hvr-underline-from-center" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								</ul>			
							</div>
						</div>
					</div>
			</div>
			<h4>Albert</h4>
			<p>Luctus </p>
		</div>
		<div class="col-md-3 team-gds">
			<div class="gal-grid-rev vertical">
				<div class="img-box-content"><img src="images/t4.jpg" alt=" "></div>
					<div class="gal-text-box">
						<div class="info-gal-con">
							<div class="social-content">
								<ul>
									<li class="facebook"><a class="ico1 hvr-underline-from-center" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="twitter"><a class="ico2 hvr-underline-from-center" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="pinterest"><a class="ico3 hvr-underline-from-center" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								</ul>			
							</div>
						</div>
					</div>
			</div>
			<h4>Jesna</h4>
			<p>Elementum </p>
		</div>
		
		<div class="clearfix"></div>
		</div>
	</div>
</div>