<!DOCTYPE HTML>
<html>
<head>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

<!-- jQuery -->
<link href='/fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='/fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/css/icon-font.min.css" type='text/css' />
<script src="/js/amcharts.js"></script>	
<script src="/js/serial.js"></script>	
<script src="/js/light.js"></script>	
<!-- //lined-icons -->
<script src="/js/jquery-1.10.2.min.js"></script>
   
<style>


.inline{
	display:inline-block;
	}

	.inline + .inline{
	  margin-left:10px;
	}	

</style>  

</head>
<body>
   <div class="page-container">
   <!--/content-inner-->
	
				<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu" >
					<header class="logo1">
						<a href="#" class="sidebar-icon" > <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="/"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
										<li><a href="#updateProfile" onclick="showUpdateProfile()"><i class="fa fa-tachometer"></i> <span>Update Profile</span></a></li>
										
										<li><a href="#registerRestaurant" onclick="showRegisterRestaurant()"><i class="lnr lnr-pencil"></i> <span>Register Restaurant</span></a></li>

										<li><a href="#viewRestaurant" onclick="showViewRestaurant()"><i class="lnr lnr-pencil"></i> <span>View Restaurant</span></a></li>
								  </ul>
							</div>
				</div>
				<div class="clearfix"></div>		
	</div>
	
	<script>
		var toggle = true;
					
		$(".sidebar-icon").click(function() {                
		  if (toggle)
		  {
			$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
			$("#menu span").css({"position":"absolute"});
		  }
		  else
		  {
			$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
			setTimeout(function() {
			  $("#menu span").css({"position":"relative"});
			}, 400);
		  }
						
			toggle = !toggle;
		});
	</script>

	<div id="registerRestaurant" style = "display:none;"class="w3ls_small_dialog wthree_pop">
		<div style="margin:300px; margin-top:20px">
		<h3 class="agileinfo_sign" align = 'center'>Restaurant Registration</h3>	
		<div class="agileits_signin_form">
			<form action="/users/registerRestaurant" method="post">
				<label> 
			      		Restaurant Name
			   	</label>
			       <input type="text"  name="name"  required="">
				<label> 
			      		Restaurant Email
			   	</label>		
				
						
				<input type="email"  name="email"  required="">
				<label> 
			      		Password
			   	</label>
				<input type="password"  name="password"  required="">
				<label> 
			      		Owner Email
			   	</label>
				<input type="email"  name="owner"  required="">
				<label> 
			      		City
			   	</label>
				<input type="text"   name="city" required="">
				<label> 
			      		Description
			   	</label>
				<input type="text"   name="description"  required="">
				

			<div>
			 
			 	     
			  <span> Rating </span> 
			 <br><br>  
			  <label class="inline"> 
			      <input type="radio" name="rating" value="3 star" checked>
			      <span> 3 star </span> 
			   </label>
			  <label class="inline"> 
			      <input type="radio" name="rating" value="5 star">
			      <span>5 star </span> 
			  </label>
			<label class="inline"> 
			      <input type="radio" name="rating" value="7 star" checked>
			      <span> 7 star </span> 
			   </label>
			</div>
			<br>

			<input type="submit" value="Register">
			</form>
		</div>
		</div>
		</div>


	<script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<script>
		function showRegisterRestaurant() {
		    document.getElementById('registerRestaurant').style.display = "block";
			document.getElementById('viewRestaurant').style.display = "none";
			document.getElementById('updateProfile').style.display = "none";		
		}

		function showViewRestaurant() {
		    document.getElementById('registerRestaurant').style.display = "none";
			document.getElementById('viewRestaurant').style.display = "block";
			document.getElementById('updateProfile').style.display = "none";		
		}

		function showUpdateProfile() {
		    document.getElementById('registerRestaurant').style.display = "none";
			document.getElementById('viewRestaurant').style.display = "none";
			document.getElementById('updateProfile').style.display = "block";		
		}
	</script>

<!--js -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->
 

</body>
</html>
