<div class="w3l-gallery">
	<div class="container" style="">
		<div class="galley-grid">
			<h3 class="w3l_head w3l_head1">Gallery</h3>
			<p class="w3ls_head_para w3ls_head_para1">quam ultrices</p>
			<span class="lft-bar-gallery"> </span>
			<span class="rit-bar-gallery"> </span>
		</div>
		<div class="w3ls-top">
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>					
					<img src="images/g1.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>			
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g2.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>					
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g3.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="clearfix"> </div>

			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g4.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g5.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g6.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g7.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g8.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Lorem</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="images/g9.jpg" alt="Project 01" class="img-responsive thumbnailImage">
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
				</div>
			</div>
			
			<div class="clearfix"> </div>
		</div>		
	</div>
</div>