
<div class="services_agile">
	<div class="container">
		<h3 class="w3l_head w3l_head1">Feature Services</h3>
	<p class="w3ls_head_para w3ls_head_para1">quam ultrices</p>
		<div class="services_right">
			<div class="col-md-4 list-left text-center">
			
				
				<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/g4.jpg" alt=" "></a></div>
				<h4>Voluptatem</h4>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui</p>
			</div>
			<div class="col-md-4 list-left text-center">
				
				
				<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/g6.jpg" alt=" "></a></div>
				<h4>Aspernatur</h4>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui</p>
			</div>
			<div class="col-md-4 list-left text-center">
				
				
				<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/g8.jpg" alt=" "></a></div>
				<h4>Consequuntur</h4>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
					sed quia consequuntur magni dolores eos qui</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>